[submodule "dynutils"]
	path = dynutils
	url = git@github.com:dynverse/dynutils.git
	branch = master
[submodule "dyneval"]
	path = dyneval
	url = git@github.com:dynverse/dyneval.git
	branch = master
[submodule "dynalysis"]
	path = dynalysis
	url = git@github.com:Zouter/dynalysis.git
	branch = master
[submodule "dynplot"]
	path = dynplot
	url = git@github.com:dynverse/dynplot.git
	branch = master
[submodule "methods/topslam"]
	path = methods/topslam
	url = git@github.com:dynverse/topslam.git
	branch = master
[submodule "methods/Mpath"]
	path = methods/Mpath
	url = git@github.com:dynverse/Mpath.git
	branch = master
[submodule "methods/SCUBA"]
	path = methods/SCUBA
	url = git@github.com:dynverse/SCUBA.git
	branch = master
[submodule "methods/pseudogp"]
	path = methods/pseudogp
	url = git@github.com:dynverse/pseudogp.git
	branch = master
[submodule "methods/Wishbone"]
	path = methods/Wishbone
	url = git@github.com:dynverse/Wishbone.git
	branch = master
[submodule "methods/GPfates"]
	path = methods/GPfates
	url = git@github.com:dynverse/GPfates.git
	branch = master
[submodule "methods/SLICE"]
	path = methods/SLICE
	url = git@github.com:dynverse/SLICE.git
	branch = master
[submodule "methods/StemID"]
	path = methods/StemID
	url = git@github.com:dynverse/StemID.git
	branch = master
[submodule "methods/Waterfall"]
	path = methods/Waterfall
	url = git@github.com:dynverse/Waterfall.git
	branch = master
[submodule "methods/pywishbone"]
	path = methods/pywishbone
	url = git@github.com:dynverse/pywishbone.git
	branch = master
[submodule "methods/PySCUBA"]
	path = methods/PySCUBA
	url = git@github.com:dynverse/PySCUBA.git
	branch = master
[submodule "libraries/fastgssa"]
	path = libraries/fastgssa
	url = git@github.com:dynverse/fastgssa.git
	branch = master
[submodule "libraries/PRISM"]
	path = libraries/PRISM
	url = git@github.com:rcannood/PRISM.git
	branch = master
[submodule "methods/SCORPIUS"]
	path = methods/SCORPIUS
	url = git@github.com:rcannood/SCORPIUS.git
	branch = master
[submodule "methods/mfa"]
	path = methods/mfa
	url = git@github.com:dynverse/mfa.git
	branch = master
[submodule "methods/monocle"]
	path = methods/monocle
	url = git@github.com:dynverse/monocle-release.git
	branch = master
[submodule "methods/SCOUP"]
	path = methods/SCOUP
	url = git@github.com:dynverse/SCOUP.git
	branch = master
[submodule "methods/SLICER"]
	path = methods/SLICER
	url = git@github.com:dynverse/SLICER.git
	branch = master
[submodule "methods/slingshot"]
	path = methods/slingshot
	url = git@github.com:dynverse/slingshot.git
	branch = master
[submodule "dynmethods"]
	path = dynmethods
	url = git@github.com:dynverse/dynmethods.git
	branch = master
[submodule "libraries/splatter"]
	path = libraries/splatter
	url = git@github.com:dynverse/splatter.git
	branch = master
[submodule "methods/embeddr"]
	path = methods/embeddr
	url = git@github.com:dynverse/embeddr.git
	branch = master
[submodule "libraries/scaterlegacy"]
	path = libraries/scaterlegacy
	url = git@github.com:dynverse/scaterlegacy.git
	branch = master
[submodule "methods/cellTree"]
	path = methods/cellTree
	url = git@github.com:dynverse/cellTree.git
	branch = RELEASE_3_6
[submodule "libraries/dynnormaliser"]
	path = libraries/dynnormaliser
	url = git@github.com:dynverse/dynnormaliser.git
	branch = master
[submodule "methods/ouijaflow"]
	path = methods/ouijaflow
	url = git@github.com:dynverse/ouijaflow.git
	branch = master
[submodule "generators/dyngen"]
	path = generators/dyngen
	url = git@github.com:dynverse/dyngen.git
	branch = master
[submodule "generators/dyncontrol"]
	path = generators/dyncontrol
	url = git@github.com:rcannood/dyncontrol.git
	branch = master
[submodule "generators/dyntoy"]
	path = generators/dyntoy
	url = git@github.com:dynverse/dyntoy.git
	branch = master
[submodule "methods/SCIMITAR"]
	path = methods/SCIMITAR
	url = git@github.com:dynverse/SCIMITAR.git
	branch = master
[submodule "methods/reCAT"]
	path = methods/reCAT
	url = git@github.com:dynverse/reCAT.git
	branch = master
[submodule "dynwrap"]
	path = dynwrap
	url = git@github.com:dynverse/dynwrap.git
	branch = master
[submodule "libraries/princurve"]
	path = libraries/princurve
	url = git@github.com:dynverse/princurve.git
	branch = master
[submodule "methods/StemID2"]
	path = methods/StemID2
	url = git@github.com:dynverse/StemID2.git
	branch = master
[submodule "methods/MATCHER"]
	path = methods/MATCHER
	url = git@github.com:dynverse/MATCHER.git
    branch = master
[submodule "dyndocker"]
	path = dyndocker
	url = git@github.com:dynverse/dyndocker.git
	branch = master
[submodule "libraries/aaaimportthisfirst"]
	path = libraries/aaaimportthisfirst
	url = git@github.com:dynverse/aaaimportthisfirst.git
	branch = master
[submodule "dynguidelines"]
	path = dynguidelines
	url = git@github.com:dynverse/dynguidelines.git
	branch = master
[submodule "dyno"]
	path = dyno
	url = git@github.com:dynverse/dyno.git
	branch = master
[submodule "methods/destiny"]
	path = methods/destiny
	url = git@github.com:dynverse/destiny.git
	branch = master
[submodule "methods/merlot"]
	path = methods/merlot
	url = git@github.com:dynverse/merlot.git
	branch = master
[submodule "methods/paga"]
	path = methods/paga
	url = git@github.com:dynverse/paga.git
	branch = master
[submodule "methods/ElPiGraph.R"]
	path = methods/ElPiGraph.R
	url = git@github.com:dynverse/ElPiGraph.R.git
	branch = master
[submodule "dyndimred"]
	path = dyndimred
	url = git@github.com:dynverse/dyndimred.git
	branch = devel
