[submodule "dynutils"]
	path = libraries/dynutils
	url = git@github.com:dynverse/dynutils.git
	branch = master
[submodule "dyneval"]
	path = libraries/dyneval
	url = git@github.com:dynverse/dyneval.git
	branch = master
[submodule "dynbenchmark"]
	path = dynbenchmark
	url = git@github.com:dynverse/dynbenchmark.git
	branch = master
[submodule "dynplot"]
	path = dynplot
	url = git@github.com:dynverse/dynplot.git
	branch = master
[submodule "methods/SLICE"]
	path = methods/SLICE
	url = git@github.com:dynverse/SLICE.git
	branch = master
[submodule "methods/Waterfall"]
	path = methods/Waterfall
	url = git@github.com:dynverse/Waterfall.git
	branch = master
[submodule "methods/PySCUBA"]
	path = methods/PySCUBA
	url = git@github.com:dynverse/PySCUBA.git
	branch = master
[submodule "libraries/fastgssa"]
	path = libraries/fastgssa
	url = git@github.com:dynverse/fastgssa.git
	branch = master
[submodule "dynmethods"]
	path = dynmethods
	url = git@github.com:dynverse/dynmethods.git
	branch = master
[submodule "methods/embeddr"]
	path = methods/embeddr
	url = git@github.com:dynverse/embeddr.git
	branch = master
[submodule "libraries/scaterlegacy"]
	path = libraries/scaterlegacy
	url = git@github.com:dynverse/scaterlegacy.git
	branch = master
[submodule "libraries/dynnormaliser"]
	path = libraries/dynnormaliser
	url = git@github.com:dynverse/dynnormaliser.git
	branch = master
[submodule "generators/dyngen"]
	path = libraries/dyngen
	url = git@github.com:dynverse/dyngen.git
	branch = master
[submodule "generators/dyntoy"]
	path = libraries/dyntoy
	url = git@github.com:dynverse/dyntoy.git
	branch = master
[submodule "dynwrap"]
	path = dynwrap
	url = git@github.com:dynverse/dynwrap.git
	branch = master
[submodule "dyndocker"]
	path = libraries/dyndocker
	url = git@github.com:dynverse/dyndocker.git
	branch = master
[submodule "dynguidelines"]
	path = dynguidelines
	url = git@github.com:dynverse/dynguidelines.git
	branch = master
[submodule "dyno"]
	path = dyno
	url = git@github.com:dynverse/dyno.git
	branch = master
[submodule "dyndimred"]
	path = libraries/dyndimred
	url = git@github.com:dynverse/dyndimred.git
	branch = devel
[submodule "dynfeature"]
	path = libraries/dynfeature
	url = git@github.com:dynverse/dynfeature.git
	branch = devel
[submodule "sites/dynmethods_automated_testing"]
	path = sites/dynmethods_automated_testing
	url = git@github.com:dynverse/dynmethods_automated_testing.git
	branch = master
