[submodule "dynutils"]
	path = dynutils
	url = git@github.com:rcannood/dynutils.git
[submodule "dyneval"]
	path = dyneval
	url = git@github.com:rcannood/dyneval.git
[submodule "dynvaria"]
	path = dynvaria
	url = git@github.com:rcannood/dynvaria.git
[submodule "dynmodular"]
	path = dynmodular
	url = git@github.com:rcannood/dynmodular.git
[submodule "dynreal"]
	path = dynreal
	url = git@github.com:Zouter/dynreal.git
[submodule "dyngen"]
	path = dyngen
	url = git@github.com:Zouter/dyngen.git
[submodule "dynalysis"]
	path = dynalysis
	url = git@github.com:Zouter/dynalysis.git
[submodule "dyntoy"]
	path = dyntoy
	url = git@github.com:Zouter/dyntoy.git
[submodule "dynplot"]
	path = dynplot
	url = git@github.com:Zouter/dynplot.git
[submodule "methods/topslam"]
	path = methods/topslam
	url = git@github.com:dynverse/topslam.git
[submodule "methods/Mpath"]
	path = methods/Mpath
	url = git@github.com:dynverse/Mpath.git
[submodule "methods/SCUBA"]
	path = methods/SCUBA
	url = git@github.com:dynverse/SCUBA.git
[submodule "methods/pseudogp"]
	path = methods/pseudogp
	url = git@github.com:dynverse/pseudogp.git
[submodule "methods/Wishbone"]
	path = methods/Wishbone
	url = git@github.com:dynverse/Wishbone.git
[submodule "methods/GPfates"]
	path = methods/GPfates
	url = git@github.com:dynverse/GPfates.git
[submodule "methods/SLICE"]
	path = methods/SLICE
	url = git@github.com:dynverse/SLICE.git
[submodule "methods/StemID"]
	path = methods/StemID
	url = git@github.com:dynverse/StemID.git
[submodule "methods/Waterfall"]
	path = methods/Waterfall
	url = git@github.com:dynverse/Waterfall.git
[submodule "methods/pywishbone"]
	path = methods/pywishbone
	url = git@github.com:dynverse/pywishbone.git
[submodule "methods/PySCUBA"]
	path = methods/PySCUBA
	url = git@github.com:dynverse/PySCUBA.git
[submodule "libraries/GEDEVO"]
	path = libraries/GEDEVO
	url = git@github.com:dynverse/GEDEVO.git
[submodule "libraries/fastgssa"]
	path = libraries/fastgssa
	url = git@github.com:dynverse/fastgssa.git
